.bg-main{
    background-color: black;
    color:white;
    
}

.navbar-brand{
    color:white;
}
.navbar-brand:hover{
    color:#c2020b;
}
.nav-link{
    color:whitesmoke;
}

.nav-link:hover{
    color:#c2020b;
    
}
.btn-outline-main{
    background-color: transparent !important;
    border: 1px solid #c2020b !important;
    color: #c2020b !important;

}
.btn-outline-main:hover{
    background-color: #c2020b !important;
    border: 1px solid #c2020b !important;
    color: black !important;
    
}

.nav-item{
    margin-left:10px;
    border-color:#c2020b;
}
.nav-item:hover{
    transition: border 5s;
    border-left:1px solid #c2020b;
    border-right:1px solid #c2020b;
    
}

body{
    background-color:black !important;
}
p{
    font-weight:400;
    color:white;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight:400;
    color:white;
    font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 720px) {
    .nav-item:hover{
        border:none;        
        
    }   
}